@media (min-width: 992px) {
  .container-search {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: relative;
    height: 106px;
    box-sizing: border-box;
    width: 100%;
    top: -40px;
  }
}

@media (min-width: 280px) {
  .container-search {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .hero-image {
    display: none;
  }
}

@media (max-width: 991px) {
  .input {
    margin-bottom: 10px;
  }
  .label {
    display: none;
  }
  .button-pembayaran button {
    display: none;
  }
}

.btn {
  background-color: #5cb85f;
  color: white;
}

.navbar-light {
  background-color: #f1f3ff;
}
